mixin list-items(options)
  ul.list
    each option in options
      li.list__item.list__item_colors
        
        if option.box.modifier
          .box(class= 'box_' + option.box.modifier)
        else
          .box
          
        .paragraph
          .paragraph__title= option.title
          .paragraph__description= option.description
