@font-face {
  font-family: 'Quicksand';
  src:  url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src:  url('../fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
	font-style: normal;
}

// Material Design Icons Local
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../iconfont/MaterialIcons-Regular.ttf') format('truetype');
}