@import "font.scss";
@import "vars.scss";
@import "default-tags.scss";

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.form-elements label {
  display: block;
}

.form-elements input {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid $dark-25;
  border-radius: 4px;
  padding: 13px 15px 13px 15px;

  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
  &::placeholder {
    color: $dark-25;
    line-height: 18px;
  }
}

.focus {
  border: 1px solid $dark-50;
}

.btn {
	border: none;
	padding: 0;
	border-radius: 20px;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	background-clip: content-box;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.btn__text {
	padding: 10px 30px;
	border: 2px solid;
	border-color: transparent;
	border-radius: 20px;
	background-clip: padding-box;
  text-transform: uppercase;
  font-weight: bold;
}

.btn_fill_white {
	color: #BC9CFF;
	background-color: white;
}

.btn_fill_color {
	color: #ffffff;
	background-color: transparent;
}
