// Font
$montserrat: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
$quicksand: 'Quicksand', 'Open Sans', 'Arial', sans-serif;

// Main color
$dark-100: #1F2041;
$dark-75: rgba($dark-100, 0.75);
$dark-50: rgba($dark-100, 0.50);
$dark-25: rgba($dark-100, 0.25);
$dark-5: rgba($dark-100, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;


$body-color: rgb(224, 224, 224);