@import './../../assets/scss/vars.scss';

.btn {
	border: none;
	padding: 0;
	border-radius: 20px;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: content-box;
  
  &:focus {
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
  }

  &__text {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 18px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 20px;
    background-clip: padding-box;
    text-transform: uppercase;
  }

  &_fill_white {
    color: #BC9CFF;
    background-color: white;
  }

  &_fill_color {
    color: #ffffff;
    background-color: transparent;
  }
}
