.UIkit-page {
  position: relative;
  max-width: 1440px;
  margin: 30px auto 0 auto;
}

.flexible {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.colors-and-type {
  height: 900px;
  background-color: white;
  &::before {
    content: 'Colors & type';
    position: absolute;
    top: -20px;
  }
}

.form-elements {
  height: 1853px;
  background-color: white;
  &::before {
    content: 'Form Elements';
    position: absolute;
    top: -20px;
  }
}

.headers-and-footers {
  height: 1350px;
  background-color: white;
  &::before {
    content: 'Headers & Footers';
    position: absolute;
    top: -20px;
  }
}