//-.room-frame
.slideshow
  .slide
    img(src='./src/components/room-frame/image-min.png')
  .slide
    img(src='./src/components/room-frame/image-2.png')
  .slide
    img(src='./src/components/room-frame/image-3.png')

  .prev
  .next

  .dot-container
    span.dot
    span.dot
    span.dot
    span.dot

      