mixin checkbox-list()
  .checkbox-buttons
    h3 Checkbox buttons
    ul.checkbox-list
      li 
        .item
        .title Можно курить
      li
        .item.active 
        .title Можно с питомцами
      li
        .item 
        .title Можно пригласить гостей (до 10 человек)
      li
        .item 
        .title Широкий коридор
        .description= 'Ширина коридоров в номере \n не менее 91 см.'
      li
        .item 
        .title Помощник для инвалидов
        .description= 'На 1 этаже вас встретит специалист \n и проводит до номера.'
