mixin checkbox-list(options)
  .checkbox-list
    h3.checkbox-list__head(class= options.headIsButton ? 'checkbox-list__head_active' : '') #{options.head}
    ul.checkbox-list__items
      - var id = 0
      each option in options.items
        li(data-id= id++).checkbox-list__item
          if option.isActive
            .checkbox-list__box.checkbox-list__box_active
          else
            .checkbox-list__box

          .checkbox-list__title #{option.title}

          if option.description
            .checkbox-list__description #{option.description}
          