mixin comment(option)
  .comment
    .comment__avatar
    .comment__author= option.author
    .comment__date= option.date
    .comment__text= option.text
    a(href='#' title='Оценить' class='comment__like')