doctype html
html(lang="ru")
  head
    title Landing page
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block header
      include ./../components/button/button.pug
      include ./../components/menu/header-menu/header-menu.pug
      include ./../components/logo/logo.pug

      -
        var data_button_login = {text: 'Войти', fill: 'white'}
        var data_button_register = {text: 'Зарегистрироваться', fill: 'color'}
        var data_menu = [
          {text: 'О нас', modifier: ''},
          {text: 'Услуги', modifier: 'drop'},
          {text: 'Вакансии', modifier: ''},
          {text: 'Новости', modifier: ''},
          {text: 'Соглашения', modifier: 'drop'}]

      header.header
        .header__logo
          +logo('./src/components/logo/Logo-grad.svg')

        .header__header-menu
          +header-menu(data_menu)

        .header__login
          +button(data_button_login)
          +button(data_button_register)
      
    block content
    block footer
