//- base layout HTML
extends base.pug

block content
  .colors-and-type.UIkit-page.flexible
    img.logo(src='./src/logo.svg')

    include ./../components/list-items/list-items.pug
    //- component list-items view
    -
      var data_color = [{
        modifier: 'color_dark100',
        title: 'Dark Shade 100%',
        description: '#1F2041'
      },
      {
        modifier: 'color_dark75',
        title: 'Dark Shade 75%',
        description: '#1F2041'
      },
      {
        modifier: 'color_dark50',
        title: 'Dark Shade 50%',
        description: '#1F2041'
      },
      {
        modifier: 'color_dark25',
        title: 'Dark Shade 25%',
        description: '#1F2041'
      },
      {
        modifier: 'color_dark5',
        title: 'Dark Shade 5%',
        description: '#1F2041'
      },
      {
        modifier: 'color_purple',
        title: 'Purple',
        description: '#BC9CFF'
      },
      {
        modifier: 'color_green',
        title: 'Green',
        description: '#6FCF97'
      }]

    .colors-and-type__list
      +list-items(data_color)

    //- component font-list view
    -
      var data_font = [{
        tag: 'H1',
        aside: 'This one is the sub-section or widget title',
        modifier: 'size_h1'
      },
      {
        tag: 'H2',
        aside: 'Next one is the item title inside widgets',
        modifier: 'size_h2'
      },
      {
        tag: 'H3',
        aside: 'This is a label or CTA text',
        modifier: 'size_h3'
      },
      {
        tag: 'Body',
        aside: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
        modifier: 'size_body'
      }]

    .colors-and-type__font-list
      +font-list(data_font)
  
  //- form-elements page ----------------------------------------------------------
  .form-elements.UIkit-page
    img.logo(src='./src/logo.svg')

    label(for='default') TEXT FIELD
    input(type='text' id='default' class='default' placeholder='Email')

    label(for='focus') TEXT FIELD
    input(type='text' id='focus' class='focus' value='This is pretty awesome')

    label(for='dropdown') DROPDOWN
    select(name='dropdown' id='dropdown' value='Сколько гостей')
      option(value='value1')
      option(value='value2' selected) Значение 2
      option(value='value3') Значение 3

    label(for='mask') MASKED TEXT FIELD
    input(type='text' id='mask' placeholder="MM/YY" class="masked" pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)")

    //- component comment view
    -
      var data_user = {
        author: 'Мурад Сарафанов',
        date: '5 дней назад',
        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      }

    include ./../components/comment/comment.pug
    +comment(data_user)

    //- component frame-list view
    -
      var data_advantages = [{
        logo: './src/components/list-items/advantage-emoticon.svg',
        title: 'Комфорт',
        description: 'Шумопоглощающие стены'
      },
      {
        logo: './src/components/list-items/advantage-city.svg',
        title: 'Удобство',
        description: 'Окно в каждой из спален'
      }]

    +frame-list(data_advantages)

    //- 
    .dropdown DROPDOWN
    label(for='speed') Select a speed
    select(name='speed' id='speed')
      option Slower
      option Slow
      option(selected='selected') Medium
      option Fast
      option Faster

  //- headers-and-footers page ----------------------------------------------------------
  .headers-and-footers.UIkit-page
    include ../components/header/header-en.pug
    include ../components/footer/footer-en.pug
