.header {
	/*display: flex;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	max-width: 1440px;
  margin: auto;
  background-color: white;
}

.header__logo {
	width: 110px;
	height: 40px;
	background: url('../../Logo-grad.svg') no-repeat 50% 50%;
	margin-right: 40px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.nav__items {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.nav__items li {
	margin-right: 20px;
}

.nav__items-drop {
	padding-right: 20px;
}

.nav__items-drop::after {
	position: absolute;
	display: inline-block;
	font-family: 'Material Icons';
	content: 'expand_more';
	font-size: 20px;
}

.nav {
  grid-column-start: 4;
  grid-column-end: 10;
}

.header__login {
  grid-column-start: 10;
  grid-column-end: 13;
}
