//- header block
include ./../button/button.pug
include ./../menu/header-menu/header-menu.pug
include ./../logo/logo.pug

-
  var data_button_login = {text: 'Login', fill: 'white'}
  var data_button_register = {text: 'Register', fill: 'color'}
  var data_menu = [
    {text: 'Home', modifier: ''},
    {text: 'About Us', modifier: ''},
    {text: 'Services', modifier: 'drop'},
    {text: 'Careers', modifier: ''},
    {text: 'News', modifier: ''},
    {text: 'Documentation', modifier: ''}]

header.header
  .header__logo
    +logo('./src/components/logo/Logo-grad.svg')

  .header__header-menu
    +header-menu(data_menu)

  .header__login
    +button(data_button_login)
    +button(data_button_register)
