extends header.pug

block nav
  .header__nav.nav
    ul.nav__items
      +nav-item('', 'Home')
      +nav-item('', 'About Us')
      +nav-item('nav__items-drop', 'Services')
      +nav-item('', 'Careers')
      +nav-item('', 'News')
      +nav-item('', 'Documentation')
      