//- header block
header.header
  .header__logo
  .header__nav.nav
    ul.nav__items
      li Home
      li About Us
      li.nav__items-drop Services
      li Careers
      li News
      li 
        a(href='ui-kit.html') Documentation
  .header__login
    button(type='button').btn
      .btn__text.btn_fill_white Login
    button(type='button').btn
      .btn__text.btn_fill_color Register
      