//- header block
header.header
  .header__logo

  mixin nav-item(drop, item)
    li.nav__item(class= drop)
      a(href='ui-kit.html')= item
  
  block nav
    .header__nav.nav
      ul.nav__items
        +nav-item('', 'О нас')
        +nav-item('nav__items-drop', 'Услуги')
        +nav-item('', 'Вакансии')
        +nav-item('', 'Новости')
        +nav-item('nav__items-drop', 'Соглашения')

  .header__login
    button(type='button').btn
      .btn__text.btn_fill_white Login
    button(type='button').btn
      .btn__text.btn_fill_color Register
      