.header-menu {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;

  &__item {
    margin-right: 20px;
    
    &_drop {
      padding-right: 20px;
    }
    
    &_drop::after {
      position: absolute;
      display: inline-block;
      font-family: 'Material Icons';
      content: 'expand_more';
      font-size: 20px;
    }
  }

  &__link {
    text-decoration: none;
  }
}
