//- footer block
include ./../logo/logo.pug
include ./../list-items/list-items.pug

-
  var data_relation_1 = {title: 'Navigation', relations: ['About Us', 'News', 'Support', 'Products']}
  var data_relation_2 = {title: 'About Us', relations: ['Who we are', 'Our team', 'Careers', 'Investors']}
  var data_relation_3 = {title: 'Support', relations: ['Documentation', 'Community', 'Get in Touch']}

footer.footer
  .footer__logo
    +logo('./src/components/logo/Logo-grad.svg')
    .description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  
  .footer__relation-lists
    +relation-list(data_relation_1)
    +relation-list(data_relation_2)
    +relation-list(data_relation_2)
  
  .footer__subscribe
    .subscribe
      h3.subscribe__title Subscribe to our newsletter
      p Receive our latest news and promotions in your inbox!
      input(type='text' name='email')

  .copyright
    .copyright__text Copyright © 2018 Toxin UI Kit. All rights reserved.
    .social-bar
      a(href='#')
        span(title='twitter').twitter.icon
      a(href='#')
        span(title='facebook').facebook.icon
      a(href='#')
        span(title='instagram').instagram.icon
      