.footer {
	display: grid;
  grid-template-columns: auto 260px 640px 260px auto;
  grid-template-rows: 372px 70px;
  grid-template-areas:
    ". a r s ."
    ". c c c .";
  grid-gap: 1px 0;
  max-width: 1440px;
  height: 442px;
  margin: 0 auto;
  background-color: white;
}

.about {
  max-width: 260px;
  grid-area: a;
  margin: 0;
  margin-top: 100px;
  .header__logo {
    margin-bottom: 17px;
  }
}

.relation {
  grid-area: r;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 92px;
}

.relation__list {
  &:nth-child(1) {
    margin-left: 40px;
  }
  &:nth-child(2) {
    margin-left: 57px;
  }
  &:nth-child(3) {
    margin-left: 93px;
  }
}

.relation__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 21px;
}

.relation__items {
	list-style: none;
	padding: 0;
  margin: 0;
}

.relation__item {
  margin-bottom: 21px;
  line-height: 17px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
}

.subscribe {
  grid-area: s;
  max-width: 260px;
  margin-top: 92px;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
  }
  p {
    margin: 0;
  }
  input {
    max-width: 260px;
    margin-top: 22px;
  }
}

.copyright {
  grid-area: c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
  a {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
  }
}

.icon {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: transparent;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter {
  &::after {
    content: '\f099';
  }
}

.facebook {
  &::after { 
    content: '\f082';
  }
}

.instagram {
  &::after {
    content: '\f16d';
  }
}
