extends footer.pug

block about
  .about
    .header__logo
    .description 
      | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget 
      | nullam pellentesque aliquam curabitur cociis.

block relation
  .relation
    +relation-list('Navigation', 'About Us', 'News', 'Support', 'Products')
    +relation-list('About Us', 'Who we are', 'Our team', 'Careers', 'Investors')
    +relation-list('Support', 'Documentation', 'Community', 'Get in Touch')

block subscribe
  .subscribe
    h2 Subscribe to our newsletter
    p Receive our latest news and promotions in your inbox!
    input(type='text' name='email')

block copyright
  .copyright
    .copyright__text Copyright © 2018 Toxin UI Kit. All rights reserved.
    .social-bar
      a(href='#') twitter
      a(href='#') facebook
      a(href='#') instagram