doctype html
html(lang="en")
  head
    title HelloWorld
  body
    .colors-and-type
      .container
        .square
        .text Dark Shade 100% #1F2041

      .container
        .square
        .text Dark Shade 100% #1F2041

      .container
        .square
        .text Dark Shade 100% #1F2041
    