doctype html
html(lang="en")
  head
    title HelloWorld
  body
    .colors-and-type.UIkit-page
      mixin list(color, description)
        li.color= description
      
      ul.colors-list
        +list(black, 'cat')
        +list(darck, 'dog')
        +list(green, 'pig')     

        .square
        .text Dark Shade 100% #1F2041

      .colors
        .square
        .text Dark Shade 100% #1F2041

      .colors
        .square
        .text Dark Shade 100% #1F2041
    