doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')