doctype html
html(lang="en")
  head
    title HelloWorld
    script(type='text/javascript').
      if(foo) bar(1 + 5)
  body
    .container
      .square
      .text Dark Shade 100% #1F2041

    .container
      .square
      .text Dark Shade 100% #1F2041

    .container
      .square
      .text Dark Shade 100% #1F2041
    