doctype html
html(lang="en")
  head
    title HelloWorld
  body
    .colors-and-type.UIkit-page.flexible
      img.logo(src='./src/logo.svg')

      mixin colors-item(tone, colorName, colorHex)
        li.colors-list__item
          .colors-list__square(class=tone)
          .colors-list__text!= colorName + '<br>' + '<span>'+colorHex+'</span>'

      ul.colors-list
        +colors-item('colors-list__square_tone_dark100','Dark Shade 100%', '#1F2041')
        +colors-item('colors-list__square_tone_dark75','Dark Shade 75%', '#1F2041')
        +colors-item('colors-list__square_tone_dark50','Dark Shade 50%', '#1F2041')
        +colors-item('colors-list__square_tone_dark25','Dark Shade 25%', '#1F2041')
        +colors-item('colors-list__square_tone_dark5','Dark Shade 5%', '#1F2041')
        +colors-item('colors-list__square_tone_purple','Purple', '#BC9CFF')
        +colors-item('colors-list__square_tone_green','Green', '#6FCF97')

      mixin type-item(size, tag, description)
        li.type-list__item
          .type-list__square(class=size)= tag
          .type-list__text(class=size)= description

      ul.type-list
        +type-item('type-list__text_size_h1', 'H1', 'This one is the sub-section or widget title')
        +type-item('type-list__text_size_h2', 'H2', 'Next one is the item title inside widgets')
        +type-item('type-list__text_size_h3', 'H3', 'This is a label or CTA text')
        +type-item('type-list__text_size_body', 'Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
      



    .form-elements.UIkit-page
      img.logo(src='./src/logo.svg')

      input(type='text' class='input')
      input(type='text' class='input')
      input(type='text' class='input')
      input(type='text' class='input')
  