
mixin checkbox-buttons(options)
  .checkbox-buttons
    h3 Checkbox buttons
    ul.checkbox-list
      each box in options
        li 
          if box.isActive
            .item.active
          else
            .item

          .title #{box.title}

          if box.description
            .description #{box.description}
